:root{
  --primary-color:rgb(251,216,0);
  --primary-text-color:rgb(244,248,251);
  --transparent-white:rgba(244, 248, 251, 0.2);
  font-size:clamp(14px,2vw,16px);

}

ul{
  list-style-type: none;
  padding-left: 0;

}

a{
  text-decoration:none;
  color:inherit;
}

input{
  outline:none;
  background-color:inherit;
}


.App {
  text-align: center;
  min-height:100vh;
  background-image:url("./assets/images/eg_crop.jpg");
  background-size:100vw;
  background-position:0% 10%;
  background-repeat:no-repeat;
  color:var(--primary-text-color);
  
}
